<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/style.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body >

    <main class="container-fluid botonsecundario ">
        <div class="row bo text-center   barra url ">
            <div class="col-12 col-lg-12">
                <h1 >UTILIDAD</h1>

            </div>
            <div class="col-12 col-lg-12 navbar navbar-light barra">
                <a href="{{url_for('MENU')}}" class="navbar-text font-weight-bold text-dark btn bo w-100 rounded-pill" >ATRAS</a>
      

            </div>
        </div>
      
        
        <div class="row">
            {% from "funciones/_macro.html" import render_field %}
            <div class="col-12 col-lg-6 mt-5">
                <div class="card w-100 ">
                    <div class="card-body text-dark border border-dark rounded ">
                        <h5 class="card-title text-center">INGRESE LOS DATOS</h5>
                        <p class="card-text border text-center">Ingrese sus datos para poder calcular el PIB </p>
                        <form class="text-form"  method="POST">
                            <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
                            
                            <label for="exampleInputEmail1" class="form-label ">Ingrese el Precio de Venta Unitario</label>
                            {{render_field (form.P,type="number",min="0", class="form-control bg-dark-x  mb-3", value="0" )}}


                            <label for="exampleInputEmail1" class="form-label ">Ingrese el Costo Variable por unidad</label>
                            {{render_field (form.CV,type="number",min="0", class="form-control bg-dark-x  mb-3", value="0"  )}}

                            <label for="exampleInputEmail1" class="form-label ">Ingrese Costos Fijos Totales</label>                              
                            {{render_field (form.CF,type="number",min="0", class="form-control bg-dark-x  mb-3", value="0"  )}}

                         
                            
                            {{render_field (form.botoncalcular, type="submit" ,class="btn btn-outline-primary w-100 rounded-pill ")}}
                            
                        </form>
                    </div>
                </div>
            </div> 

            <div class="col-12 col-lg-6 mt-5">
                <div class="card w-100 ">
                    <div class="card-body text-dark border border-dark rounded ">
                        <h5 class="card-title text-center">RESPUESTAS</h5>
                        <p class="card-text border text-center">Aqui se ingresaran las Respuesta cuando haga la Operacion</p>
                        <p>Si las Respuestas son Negativas no es Rentable</p>
                        
                        {%for r_equilibrio,r_ventas,r_costo,r_margen,r_utilidad in calculo%}
                            <p> Estas son las unidades que tienes que vender para estar en punto de Equilibrio : {{r_equilibrio}}</p>
                            <p> Dinero de las Ventas: {{r_ventas}}</p>
                            <p> El Costo Variable es: {{r_costo}}</p>
                            <p> El Margen de Contribucion es : {{r_margen}}</p>
                            <p> La Utilidad es : {{r_utilidad}}</p>
                        {%endfor%} 
                        
                                                    
                    </div>
                </div>
            </div>
        
        <div class="row ">
            <div class=" col-12 col-lg-12 mt-5 ">
                <h5 class="text-center">HISTORIAL</h5>
                <div class="table-responsive">
                    <table class="table table-secondary  table-hover table table-bordered caption-top table-sm " id="tabla"> 
                        <thead>
                            <tr class="table-dark">
                                <th scope="col">ID</th>
                                <th scope="col">PRECIO_VENTA</th>
                                <th scope="col">COSTO_VARIABLE_UNIDAD</th>
                                <th scope="col">COSTO_FIJO</th>
                                <th scope="col">VENTA</th>
                                <th scope="col">MARGEN</th>
                                <th scope="col">R_COSTO_VARIABLE</th>
                                <th scope="col">MARGEN_CONTRIBUCION</th>
                                <th scope="col">UTILIDAD</th>
                                <th scope="col">-</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            
                            {%for y in lista%}
                                <tr>
                                    <td>{{loop.index}}</td>
                                    <td>{{y[1]}}</td>
                                    <td>{{y[2]}}</td>
                                    <td>{{y[3]}}</td> 
                                    <td>{{y[4]}}</td>
                                    <td>{{y[5]}}</td>
                                    <td>{{y[6]}}</td>
                                    <td>{{y[7]}}</td>
                                    <td>{{y[8]}}</td>
                                    
                                   
                            
                                    <td>
                                        <a href="{{url_for('obtenervalorborrarU', id=y[0] )}}" class="text-decoration-none"><i class="bi bi-trash" style="color: #DC3545;"></i></a>
                                                    
                                    </td>
                                    
                                    
                                    
                                </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
            

    </main>
    
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>